__pycache__/
*.pyc
*.pyo
*.log
custom_components/nano_pk/DE.CSV
custom_components/nano_pk/nano_pk_diagnostics.json
custom_components/nano_pk/msgformats/*.xml
!custom_components/nano_pk/msgformats/NANO_PK_FULL.xml
